.user h1 {
    margin: 50px 0 60px 30px;
}

.user form {
    margin: 0 60px 0 60px;
}

.user input.btn {
    width: 60%;
    height: 50px;
    font-size: 21px;
    font-weight: bold;
}

.user .form-group {
    margin-top: 30px;
}

.user .submit {
    text-align: center;
}

#attend-button {
    width: 300px;
}

#share-button {
    width: 200px;
    margin-top: 0px;
}

#attend {
    margin: 40px;
}

#group {
    margin: 80px 40px 40px 40px;
}

#blog {
    border: 1px dotted;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 35px;
}

.leader {
    margin: 40px;
}

#share {
    margin: 40px;
}
