<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row" id="attend">
    <div class="col-md-6">
      <h2>{{nextMonth}}月のシャッフルランチ：{{attendStatus}}</h2>
    </div>

    <div class="col-md-6">
      <button type="submit" id="attend-button" class="btn btn-default btn-common" ng-click="changeAttendStatus()" value="{{statusValue}}">
        {{attendStatus}}を取り消す
      </button>
    </div>
  </div>

  <div class="row" id="group">
    <div class="col-md-7">
      <h2>{{thisMonth}}月のグループ</h2>
      <div class="leader" ng-show="isLeader">
        <p>
          あなたはリーダーに選ばれました！</br>
          チャットワークでグループを作成しランチの日時と場所について話合いましょう！
        </p>
      </div>
    </div>

    <div class="col-md-5" ng-show="belongGroup">
      <h3>メンバー</h3>
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">
          {{leader.name}}
        </li>
        <li ng-repeat="member in members" class="list-group-item">
          {{member.name}}
        </li>
      </ul>
      <p>※先頭の方がリーダーです</p>
    </div>
    <div class="col-md-5" ng-show="!belongGroup">
      <h4>今月のランチには参加していません</h4>
    </div>
  </div>

  <div ng-include="'components/blogs/blogs.html'"></div>

</div>
