<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row" id="attend">
    <div class="col-md-6">
      <h2>{{nextMonth}}月のシャッフルランチ：{{attendStatus}}</h2>
    </div>

    <div class="col-md-6">
      <button type="submit" id="attend-button" class="btn btn-default" ng-click="changeAttendStatus()" value="{{attendStatus}}">
        {{attendStatus}}
      </button>
    </div>
  </div>

  <div class="row" id="group">
    <div class="col-md-7">
      <h2>{{thisMonth}}月のグループ</h2>
      <div class="leader">
        <p>
          あなたはリーダーに選ばれました！</br>
          チャットワークでグループを作成しランチの日時と場所について話合いましょう！
        </p>
      </div>

      <div id="share">
        <p>
          あなたはランチ共有係に選ばれました！</br>
          ランチが終了後、写真1枚と簡単なコメントを投稿しましょう！
        </p>
        <a class="glyphicon glyphicon-pencil btn btn-default" id="share-button" type="button" href="/blogs">投稿する</a>
      </div>
    </div>

    <div class="col-md-5">
      <h3>リーダー</h3>
      <ul>
        <li>
          {{leader.name}}
        </li>
      </ul>

      <h3>メンバー</h3>
      <ul>
        <li ng-repeat="member in members">
          {{member.name}}
        </li>
      </ul>
    </div>
  </div>

  <div ng-include="'components/blogs/blogs.html'"></div>

</div>
