.user h1 {
    margin: 50px 0 60px 30px;
}

.user form {
    margin: 0 60px 0 60px;
}

.submit input.btn {
    width: 60%;
    font-size: 19px;
    font-weight: bold;
}

.user .form-group {
    margin-top: 30px;
}

.submit {
    text-align: center;
}

#attend {
    margin: 40px 0 40px;
}

#attend button {
    width: 100%;
    margin: 20px 0 20px;
}

#attend h2 {
    margin: 20px 0 20px;

}

#group {
    margin: 40px 0 40px;
}

#group .group-info {
    margin: 30px 0 0 40px;
}

#blog {
    margin-bottom: 30px;
}

.blog-lists {
    margin-top: 20px;
}

.leader {
    margin: 40px;
}

#blog .list-group.col-md-6 {
    padding-left: inherit;
}

.list-group ul {
    text-align: left;
    padding-left: 0;
    padding-right: 0;
}

.modal-body {
    text-align: center;
}

.modal-header {
    text-align: center;
}

img.thumb {
    max-width: 180px;
    max-height: 180px;
}

img.detail {
    max-width: 500px;
    max-height: 500px;
    margin-bottom: 20px;
}

.image-thumb {
    text-align: center;
    margin-bottom: 20px;
}

textarea#comment {
    width: 100%;
}

@media only screen and (max-width: 480px) {
    .user h1 {
        margin: 20px 0 30px 10px;
        font-size: 25px;
    }

    .user form {
        margin: 0 20px 0 20px;
    }

    .leader {
        margin: 20px 0 0;
    }

    .submit input.btn {
        width: 100%;
    }

    #group .group-info {
        margin: 10px 0 0;
    }

    ul.dropdown-menu {
        left: 3px !important;
    }
}
