<div class="row col-md-12" ng-controller="BlogsCtrl">
  <div class ="col-md-5" id="blog" ng-repeat="blog in blogs">
    <div class="col-md-6">
      <a href="#view-modal" role="button" class="btn" data-toggle="modal">
        <img src="assets/images/sample.png" alt="blog_picture" class="view1">
      </a>
    </div>
    <div class="col-md-6">
      <ul>
        <li>{{blog.name}}</li>
        <li>日時：</li>
        <li>メンバー：</li>
        <li>場所:</li>
        <a href="#div-modal" role="button" data-toggle="modal">詳細</a>
      </ul>
    </div>
    <div id="div-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">第1回シャッフルランチ</h4>
          </div>
          <div class="modal-body">
            <center><img src="assets/images/sample.png" alt="blog_picture" class="view1"></center>
            {{blog.comment}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
          </div>
        </div>
      </div>
    </div>
    <div id="view-modal" class="modal fade">
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
      </div>
      <center><img src="assets/images/sample.png" alt="blog_picture"></center>
    </div>
  </div>
</div>
